h1 {
    color: red;
}

body {
    margin: 0;
    /* Espaciamentos*/
    padding: 0;
    /* Espaciamentos*/
    background: #ccee66;
    /* Color de Fondo*/
    color: white;
    /* Color de Texto*/
    padding: 20px 160px;
    /* Espaciamentos*/
    height: 100vh;
    /* Altura de la pantalla*/
    overflow: hidden;
    /* Para que no aparezca la barra de desplazamiento*/
}

body::before {
    content: '';
    /* para crear un elemento antes del body*/
    background: #050505ea;
    /* Color de Fondo*/
    width: 100%;
    /* Ancho*/
    height: 120%;
    /* Altura*/
    position: absolute;
    /* Para que el elemento no afecte al layout*/
    top: 0;
    /* Posición superior*/
    left: -600px;
    /* Posición */
    transform: rotate(-70deg);
    /* Rotación*/
}

body::after {
    content: 'Nike';
    /* para crear un elemento después del body*/
    position: absolute;
    /* Para que el elemento no afecte al layout*/
    top: 50%;
    /* Posición superior*/
    left: 50%;
    /* Posición izquierda*/
    transform: translate(-50%, -50%);
    /* Para centrar el elemento*/
    color: black;
    font-size: 200px;
    /* Tamaño de fuente*/
    font-weight: 900;
    /* Grosor de fuente*/
    font-family: "Noto Sans", sans-serif;
    /* Tipo de fuente*/
    opacity: 0.5;
    /* Opacidad*/

}

p {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
    /* margin-bottom => abajo*/
    /* margin-top => arriba*/
    /* margin-left => izquierda*/
    /* margin-right => derecha*/

}

h4 {
    color: white;
}

.logo {
    width: 80px;
    z-index: 2;
    
}

.boton-compra {
    background: rgba(53, 250, 3, 0.952);
    padding: 10px 20px;
    border-radius: 20px;
    /* para redondear botones*/
    color: black;
    cursor: pointer;
    transition: 0.5s;
    /* para que el cambio de color sea mas lento*/


}

.boton-compra:hover {
    opacity: 0.7;
    /* para que el boton se vea mas claro*/

}

/* esta opción hace que acontezca un cambio en nuestro boton al señalarlo*/


.imagem-tenis{
    width: 800px;
    transform: rotate(-25deg);
    filter: drop-shadow(21px 22px 38px  rgb(16, 16, 16));
    transition: 1s;
}

.cambio-efecto {
    opacity: 0;
    transform: rotate(-25deg) translateY(-30px);
 
}

.contenedor-principal {
    display: flex;
    /* para que los elementos esten en fila*/
    justify-content: space-between;
    /* para que los elementos esten separados*/
    align-items: center;
    /* para que los elementos esten centrados verticalmente*/
    height: 75%;
    /* para que el contenedor ocupe toda la altura de la pantalla*/
    position: relative;
    /* para que el contenedor no afecte al layout*/
    z-index: 1;
    /* para que el contenedor este por encima del fondo*/
}

.info-tenis {
    max-width: 800px;
    /* para que el texto no ocupe toda la pantalla*/
}

.contenedor-botones {
    z-index: 2;
    position: relative;
    display: flex;/* para que los elementos esten en fila*/
    gap: 20px; /* para que haya un espacio entre los botones*/
}


.boton {
    width: 80px;
    height: 80px;
    border-radius: 70%;
    cursor: pointer;
    border: 3px;
    transform: rotateY('angle');
    transition: 0.5s; /* para que el cambio de color sea mas lento*/

}

.boton:hover {
    transform: translateY(-5px);/* para que el boton suba al señalarlo*/
    transition: transform 0.3s;/* para que el cambio de color sea mas lento*/
}
.boton:active {
    opacity: 0.7; /* para que el boton se vea mas claro al hacer click*/
}
.verde {
    background: #ccee66;

}

.azul {
    background: #58cced;
}

.rosa {
    background: #ff9eb5;

}